// 主色调
$main-1: #ff7b9c; //应用：按钮、重要交互元素（如 “心动”“收藏” 按钮）、品牌标识
$main-2: #a78bfa; //辅助强调、进度条、特殊标签（如 “纪念日” 标识）
// 辅助色
$fu-1: #ffb443; //提醒、倒计时（如 “恋爱天数”）、互动反馈（如点赞动效）
$fu-2: #6ee7b7; //健康相关功能（如 “一起运动”）、平静场景（如 “日记” 背景）
// 中性色
$bgc-1: #fff9f9; //全局页面背景
$bgc-2: #ffffff; //信息卡片（如 “情侣动态”“待办事项”）、弹窗背景
// 字体色
$font-1: #333333; //正文、标题、重要信息
$font-2: #666666; //辅助文字（如时间、备注、说明）
$font-3: #cccccc; //禁用按钮文字、输入框占位符
